*,
*::before,
*::after {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 1rem;
}

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

html,
body,
#react-root {
	height: 100%;
}

#react-root {
	z-index: 0;
}

body {
	margin: 1.5rem auto 1rem auto;
	width: 90%;
	max-width: 800px;
	font-family: Arial;
	font-size: 1rem;
	font-weight: normal;
	line-height: 2;
	color: black;
	text-align: left;
	background-color: white;
	direction: ltr;
}

section {
	margin: 2rem 0;
}

code {
	color: #666;
	font-size: 0.7rem;
}

/* Paragraphs */

h1 {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	line-height: 1.2;
	letter-spacing: -1px;
}

h2 {
	font-size: 1.3rem;
}

p {
	margin-top: 0;
	margin-bottom: 0.8rem;
}

/* Form elements */

input,
select,
.btn {
	font-family: Arial;
	font-size: 1.4rem;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}

input,
select {
	color: #999;
	border-color: #999;
	margin-right: 10px;
	padding: 5px 10px;
}

/* Input Search */
.search {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search input {
	width: 100%;
}

/* Buttons */

button:disabled {
	background-color: #ccc;
	border-color: #ccc;
}

.btn {
	padding: 5px 20px;
	color: white;
}

.btn:hover,
.btn:focus {
	opacity: 0.6;
	cursor: pointer;
}

.btn--blue {
	background-color: blue;
	border-color: blue;
}

.btn--red {
	background-color: red;
	border-color: red;
}

/* Items */
ul.tree-list {
	list-style: none;
	list-style-position: inside;
	margin-left: 1rem;
}

ul.tree-list:first-child {
	margin-left: 0;
}

ul.tree-list li {
	list-style-type: none;
}

ul.tree-list li span {
	font-weight: 600;
}
